.site-footer {
  background-color: #f4e9d8;
  font-size: 14px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 20px;
}

.footer-section{
  padding: 16px 0;
}

.footer-section h1 {
  font-size: 14px;
  padding: 2px;
}

.footer-logo {
  width: 20px;
  height: 20px;
}

.footer-logo-email {
  width: 24px;
  height: 24px;
}

.delivery-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
}

.cta-btn-footer {
  border: none;
  cursor: pointer;
  transition: font 0.2s, transform 0.2s;
}

.cta-btn-footer:hover {
  font-weight: bold;
  font-size: .9rem;
  transform: scale(1.05);
}

.delivery-logo {
  width: 36px;
  height: 32px;
}
.delivery-logo-bolt {
  width: 81px;
  height: 26px;
}

.footer-credit {
  padding: 16px 32px;
  line-height: 1.8;
  text-align: center;
  p {
    font-size: 12px;
  }
}

/* TODO arrumar o footer */
@media (min-width: 768px) {
  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    gap: 48px;
    h1, p, span{
    font-size: .9rem;
    }
  }
  .footer-row-full {
    display: block;
    width: 100%;
  }
  
  .footer-section {
    flex: 1 1 0;
    min-width: 200px;
    max-width: 50%;
    padding: 0 22px 12px 22px;
    font-size: 1.1rem;
  }
  .footer-row.footer-row-full {
    display: block;
    width: 100%;
  }
  .footer-row.footer-row-full .footer-section {
    max-width: 100% !important;
    width: 100% !important;
    flex: none !important;
    margin: 0 auto;
    display: block;
    P{
      text-align: center;
    }
  }
}


/* Telas acima de 1024px */
@media (min-width: 1024px) {

}

/* Telas bem largas */
@media (min-width: 1440px) {
  .footer-wrapper {
    max-width: 1200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    padding: 36px 0;
    background: #f4e9d8;
    h1, p, span{
    font-size: 1.1rem;
    }
  }
  .footer-row {
    gap: 32px;
  }
  .footer-row-full .footer-section {
    min-width: 320px;
    padding: 0 32px;
    box-sizing: border-box;
    text-align: center; 
  }

.delivery-logo {
  width: 50px;
  height: 50px;
}
.delivery-logo-bolt {
  width: 101px;
  height: 36px;
}
}
