.site-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #f4e9d8;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.site-logo {
  width: 110px;
  height: 70px;
}

.nav-toggle {
  font-size: 28px;
  cursor: pointer;
  display: none;
  background-color: #f4e9d8;
}

.nav-list{
  margin-top: 2.2rem;
}

.nav-list .nav-item {
  list-style: none;
  justify-content: left;
  background-color: #f4e9d8;
}
.nav-list a {
  text-decoration: none;
  font-weight: bold;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-list {
    padding: 0;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .nav-list.open {
    height: 180px;
  }

  .nav-list .nav-item {
    text-align: center;
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .site-header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex !important;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .nav-list .nav-item {
    padding: 0 1rem;
  }
}

/* Para desktops (≥1024px) */
@media (min-width: 1024px) {
  .site-header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex !important;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .nav-list .nav-item {
    padding: 0 1rem;
  }
}
