.site-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #f4e9d8;
  position: fixed; /* Fixa no topo */
  top: 0; /* Cola no topo da tela */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Ocupa toda a largura */
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* leve sombra */
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.site-logo {
  width: 90px;
  height: auto;
  max-width: 100%;
}

.nav-toggle {
  font-size: 1.75rem;
  cursor: pointer;
  display: block;
  background-color: #f4e9d8;
}
.nav-list {
  background-color: #f4e9d8;
  padding: 0;
  top: 95px;
  position: absolute;
  right: 0;
  flex-direction: column;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.nav-list .nav-item {
  text-align: center;
  padding: 10px 0;
}

.nav-list.open {
  height: 20vh;
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}

/* Para desktops (≥1024px) */
@media (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }

  .nav-list {
    position: static;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: transparent;
    transition: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-list.open {
    height: auto; /* evita bug ao redimensionar */
  }

  .nav-item {
    padding: 0;
    margin-left: 2rem; /* espaço entre links */
    text-align: center;
  }
  .nav-list a {
    text-decoration: none;
    font-weight: bold;
    padding: 0;
  }
}
