.teste{
    background-color: white;
    height: 270px;
}

.main{
    background-color: white;
}

.back-to-top {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        padding: 12px;
        background-color: #e3a738b0;
        font-size: medium;
        text-align: center;
        span, i{
            background-color: #e3a73828;
        }
    }
}
